<%= render 'components/link', links: shared_links %>

<li class="absolute bottom-10">
  <%= button_to destroy_user_session_path, method: :delete, class: "px-4 py-2 hover:bg-red-500 hover:text-white flex gap-2 items-center text-red-500" do %>
    <i class="fa-solid fa-power-off"></i>
    <span class="sidebar-text">Logout</span>
  <% end %>
</li>