<div class="grid md:grid-cols-2 gap-10 min-h-screen pt-32">
  <div class="container mx-auto px-6 pt-20 pb-12 md:w-3/4">
    <h1 class="text-5xl font-bold mb-2 leading-[60px]">Streamline  Business Operations</h1>
    <p class="text-sm mt-5 mb-8 leading-7">
      Manage your inventory, sales, and finances effortlessly with our user-friendly platform, designed to streamline your business operations and provide real-time insights, helping you make informed decisions and achieve greater efficiency.
    </p>

    <button class="btn-primary">
      <%= link_to new_store_path do %>
        get started
      <% end %>
    </button>
  </div>

  <%= image_tag ('data-analyzer.webp'), class: 'w-[80%]' %>

</div>