<div id="sidebar" class="bg-gray-50  min-h-screen shadow-lg rounded-lg fixed transition-width duration-300 collapsed">
  <div class="flex flex-col justify-center gap-5">
    <button id="toggleButton" class="self-start px-4 py-2">
      <i id="toggleIcon" class="fa-solid fa-bars"></i>
    </button>
    <ul class="text-xs capitalize font-semibold flex flex-col gap-4">
      <%= render 'home/sidebar/shared_links' %>
      <% if current_user.admin? %>
       <%= render 'home/sidebar/admin_links' %>
      <% elsif current_user.store_admin? %>
        <%= render 'home/sidebar/store_links' %>
      <% end %>
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sidebar = document.getElementById("sidebar");
    const toggleButton = document.getElementById("toggleButton");
    const toggleIcon = document.getElementById("toggleIcon");

    const isCollapsed = localStorage.getItem("sidebarCollapsed") === "true";

    if (isCollapsed) {
      sidebar.classList.add("collapsed");
      sidebar.classList.replace("w-40", "w-12");
      toggleIcon.classList.replace("fa-xmark", "fa-bars");
    } else {
      sidebar.classList.remove("collapsed");
      sidebar.classList.replace("w-12", "w-40");
      toggleIcon.classList.replace("fa-bars", "fa-xmark");
    }

    toggleButton.addEventListener("click", function() {
      sidebar.classList.toggle("collapsed");

      if (sidebar.classList.contains("collapsed")) {
        sidebar.classList.replace("w-40", "w-12");
        toggleIcon.classList.replace("fa-xmark", "fa-bars");
        localStorage.setItem("sidebarCollapsed", "true");
      } else {
        sidebar.classList.replace("w-12", "w-40");
        toggleIcon.classList.replace("fa-bars", "fa-xmark");
        localStorage.setItem("sidebarCollapsed", "false");
      }
    });
  });
</script>
