@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn-primary {
    @apply bg-primary text-white capitalize px-4 py-2 rounded hover:bg-transparent  hover:text-primary border-2 border-primary font-semibold text-sm cursor-pointer;
  }

  .btn-secondary {
    @apply bg-secondary/50 text-primary capitalize px-4 py-2 rounded hover:bg-secondary/70  hover:text-primary font-semibold text-sm cursor-pointer;
  }

  .btn-danger {
    @apply bg-red-600 text-white capitalize px-4 py-2 rounded hover:bg-transparent hover:bg-red-500 font-semibold text-sm cursor-pointer;
  }

  .text-field {
    @apply border border-gray-600 outline-none px-2 py-2 bg-transparent text-sm rounded;
  }

  .form-label {
    @apply capitalize text-sm font-medium;
  }

  .sidebar-text {
    display: block;
    transition: display 0.3s ease;
  }
  .collapsed .sidebar-text {
    display: none;
  }
  .collapsed {
    width: 3rem;
  }

}


